{% block navbar %}
<nav class="navbar floatNav navbar-inverse layer2">
  <div class="container-fluid">

    <div class="row justify-content-start">

      <div class="col-1 navWidthLeft3 bg-inverse2 hoveringBtn colorHolder">
        <div class="btn-group text-right fixLocation cino">
          <button class="navbar-text exploreBtn transparent noPad cino" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a class="btn btn-default btn-sm iconColor noPad cino" href="#"><center><i class="fal fa-university fa-2x hoveringBtn fixLocation2"></i></center></a></button>
          <div class="dropdown-menu tabMenu4">
            <form class="form-inline">
              <div class="input-group correctExplore">
                <input type="text" class="form-control transparent inputFocused" placeholder="Search" aria-describedby="basic-addon1">
                <span class="input-group-addon transparent iconColor" id="basic-addon1"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
              </div>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item iconColor hoveringBtn2" href="#">Overview</a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#">Government</a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#">Politics</a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#">Economy</a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#">Organizations</a>

          </div>
        </div>
      </div>

      <div class="col-4">
      </div>

      <div class="col-2 floatBox bg-inverse2 hoveringBtn logoHeight exploreBtnCenter">
        <button class="navbar-toggler explore" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <img class="logo" src="../../static/dist/images/logo.png"alt="" data-toggle="collapse" data-target="#collapsingNavbar2">
        </button>
      </div>

      <div class="col-4">
      </div>

      <div class="col-1 text-right navWidthRight2 bg-inverse2 noPad hoveringBtn">
        <div class="btn-group cino">
          <button class="navbar-text iconColor exploreBtn transparent noPad cino" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a class="btn btn-default btn-sm iconColor noPad cino" href="#"><i class="fal fa-globe fa-2x hoveringBtn fixLocation3"></i></a></button>
          <div class="dropdown-menu dropdown-menu-right text-right tabMenu5">
            <form class="form-inline">
              <div class="input-group correctExplore">
                <input type="text" class="form-control transparent iconColor inputFocused" placeholder="Explore" aria-describedby="basic-addon1">
                <span class="input-group-addon transparent iconColor" id="basic-addon1"><i class="fa fa-plane" aria-hidden="true"></i></span>
              </div>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item iconColor hoveringBtn2" href="#">New York, NY</a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#">Los Angeles, CA</a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#">Houston, TX</a>
            <div class="dropdown-divider tabDivider"></div>
            <form class="form-inline">
              <div class="input-group correctExplore">
                <span class="input-group-addon transparent iconColor" id="basic-addon1"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
                <input type="text" class="form-control transparent iconColor inputFocused" placeholder="Add New" aria-describedby="basic-addon1">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-4 collapseNavFixLeft">
      </div>
      <div class="col-4 floatBox bg-inverse2 collapseNavFix btnMargTop hoveringBtn noDisplaySubNav">
        <div class="navbar-collapse collapse exploreRightBtn2" id="collapsingNavbar">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link iconColor" href="#"><i class="fal fa-location-arrow fa-lg" title="Entertainment"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link iconColor" href="#"><i class="fal fa-credit-card fa-lg" title="Finance"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link iconColor" href="#"><i class="fal fa-heartbeat fa-lg" title="Health"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link iconColor" href="#"><i class="fal fa-graduation-cap fa-lg" title="Education"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-4 text-right exploreRight">
      </div>
    </div>
  </div>
</nav>
{% endblock %}
