{% block navbar %}
  <div class="row logo2 noSideMarg">

    <div class="col-1">
    </div>

    <div class="col-4 logoheight noSidePad">
      <div class="row logolines logoheight2 noSideMarg">
      </div>
      <div class="row logoheight2">
      </div>
    </div>

    <div class="col-2 noSidePad">
      <img class="logo2 noSideMarg" src="../../static/dist/images/logo.png"alt="">
    </div>

    <div class="col-4 logoheight noSidePad">
      <div class="row logolines logoheight2 noSideMarg">
      </div>
      <div class="row logoheight2">
      </div>
    </div>

    <div class="col-1">
    </div>

  </div>
{% endblock %}
