{% block navbar %}
  <div class="row logo2">

    <div class="col-1">
    </div>

    <div class="col-4 logoheight">
      <div class="row logolines logoheight2">
      </div>
      <div class="row logoheight2">
      </div>
    </div>

    <div class="col-2">
      <img class="logo2" src="../../static/dist/images/logo.png"alt="">
    </div>

    <div class="col-4 logoheight">
      <div class="row logolines logoheight2">
      </div>
      <div class="row logoheight2">
      </div>
    </div>

    <div class="col-1">
    </div>

  </div>
{% endblock %}
