{% block navbar %}
<div class="row-offcanvas row-offcanvas-right">
  <div class="col-xs-6 col-sm-2 sidebar-offcanvas preR text-center" id="sidebarRight" role="navigation">
    <div class="list-group">
      <a href="#" class="list-group-item sideTopic headCategory">Apps</a>
      <a href="../discover" class="list-group-item sideTopics itemText"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i><span>Discover</span></a>
      <a href="../journey" class="list-group-item sideTopics itemText"><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i><span>Journey</span></a>
      <a href="../health" class="list-group-item sideTopics itemText"><i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i><span>Health</span></a>
      <a href="../education" class="list-group-item sideTopics itemText"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i><span>Education</span></a>
      <a href="../finance" class="list-group-item sideTopics itemText"><i class="fa fa-university fa-fw" aria-hidden="true"></i><span>Finance</span></a>
    </div>
  </div>
</div>
{% endblock %}
