{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load leaflet_tags %}

{% block head_title %}
uCloud
{% endblock %}

{% block head_css %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
<script src="https://use.fontawesome.com/7a4ad4218b.js"></script>
<link rel="stylesheet" href="../../static/dist/css/ucloud.css">
<link rel="stylesheet" href="../../static/dist/css/offcanvas.css">
<link rel="stylesheet" href="../static/css/discover.css">
<script src="../../static/dist/js/offcanvas.js"></script>
<script src="../static/js/discover.js"></script>
<link rel="stylesheet" href="../../static/dist/css/leaflet.zoomhome.css"/>
<script src="../../static/dist/js/leaflet.zoomhome.js"></script>
<script src="http://www.webglearth.com/v2/api.js"></script>

{% endblock %}



{% block content %}

<div id='earth_div2' class="top layer3 hoveringBtn">
</div>

<div id='mapid'>
</div>

<div class="worldView2 layer2 dead">
  <div class="dropdown leadDropFix">
    <h2 class="" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><center></center></h2>
      <div class="dropdown-menu tabMenu5 dropFix">
        <a class="dropdown-item tabColor tabColor2" href="#"><center><i>Africa</i></center></a>
        <a class="dropdown-item tabColor tabColor2" href="#"><center><i>Asian</i></center></a>
        <a class="dropdown-item tabColor tabColor2" href="#"><center><i>Australia</i></center></a>
        <a class="dropdown-item tabColor tabColor2" href="#"><center><i>Europe</i></center></a>
        <a class="dropdown-item tabColor tabColor2" href="#"><center><i>N. American</i></center></a>
        <a class="dropdown-item tabColor tabColor2" href="#"><center><i>S. America</i></center></a>
      </div>
  </div>
</div>

<div class="worldView layer4 dead">
  <div class="container-fluid leftSide noPad left">
    <div class="row noMarg cino">
      <div class="col-12 worldTitle">
        <div class="currentPath hoveringBtn iconColor">
          <div class="dropdown">
            <h2 class="wactTitle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><center>World</center></h2>
          </div>
        </div>
      </div>
      <div class="col-12 realglobe">
      </div>
      <div class="col-12 realTopics">
        <div class="subTopics topTopic hoveringBtn iconColor">
          <i class="fal fa-play fa-2x fixLocation2 left"></i><h4 class="rightBumper">Play</h4>
        </div>
        <div class="subTopics hoveringBtn iconColor">
          <i class="fal fa-shopping-bag fa-2x fixLocation2 left"></i><h4 class="rightBumper">Shop</h4>
        </div>
        <div class="subTopics hoveringBtn iconColor">
          <i class="fal fa-newspaper fa-2x fixLocation2 left"></i><h4 class="rightBumper">Live</h4>
        </div>
        <div class="subTopics bottomTopic hoveringBtn iconColor">
          <i class="fal fa-book fa-2x fixLocation2 left"></i><h4 class="rightBumper">Learn</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid centerSide pad20 left">
    <div class="row noMarg cino centerFeed round20">
      <div class="col-12 worldTitle topFeed">
        <div class="currentTopic iconColorActive">
          <h2 class="wactTitle"><center>Live</center></h2>
        </div>
      </div>
      <div class="col-12 realglobe">
      </div>
      <div class="col-12 realTopics bottomFeed">
      </div>
    </div>
  </div>

  <div class="container-fluid rightSide noPad left">
    <div class="row noMarg cino">
      <div class="col-12 topicTime">
        <div class="currentPath hoveringBtn iconColor">
          <h2 class="wactTitle"><center>Upcoming</center></h2>
        </div>
      </div>
      <div class="col-12 topicBumper">
      </div>
      <div class="col-12 topicTime">
        <div class="currentPath hoveringBtn iconColor">
          <h2 class="wactTitle"><center>Established</center></h2>
        </div>
      </div>
      <div class="col-12 topicBumper">
      </div>
    </div>
  </div>
</div>

  {% include "disTabs.html" %}
  {% include "disExplore.html" %}

  <div class="container-fluid layer5">
    <div class="topSpace"></div>
    <div class="row">
    {% include "ucloud/sideleft.html" %}
      <div class="col-md-1">
      </div>

      <div class="col-md-10">

        <script>
          function initialize() {
            var earth = new WE.map('earth_div2');
            WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);
          }
        </script>

        <script>
        // initialize the map
        var map = L.map('mapid', {zoomControl: false}).setView([41.8781, -87.6298], 13);


        // load a tile layer
        L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/navigation-preview-day-v2/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWZtb25jYXlvIiwiYSI6ImNqN2NxajNhZjAxMzQyd28yOGR1cmxnN2gifQ.jMwpSYwVgU7Jha1bUYYK6g', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([41.8781, -87.6298]).addTo(map)
            .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
            .openPopup();
        </script>
      </div>

      <div class="col-md-1">
      </div>

    </div>
    {% include "disSideRight.html" %}
  </div>

  {% include "disFooter.html" %}
{% endblock %}
