{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load leaflet_tags %}

{% block head_title %}
uCloud
{% endblock %}

{% block head_css %}
{% leaflet_js %}
{% leaflet_css %}
<script src="https://use.fontawesome.com/7a4ad4218b.js"></script>
<link rel="stylesheet" href="../../static/dist/css/discover.css">
<link rel="stylesheet" href="../../static/dist/css/offcanvas.css">
<script src="../../static/dist/js/offcanvas.js"></script>
<script src="../../static/dist/js/discover.js"></script>
<link rel="stylesheet" href="../../static/dist/css/leaflet.zoomhome.css"/>
<script src="../../static/dist/js/leaflet.zoomhome.min.js"></script>
{% endblock %}



{% block content %}

<div id="mapid">
</div>

  {% include "ucloud/explore.html" %}

  <div class="container-fluid">
    <div class="topSpace"></div>
    <div class="row">
    {% include "ucloud/sideleft.html" %}
      <div class="col-md-1">
      </div>

      <div class="col-md-10">


        <script>
        // initialize the map
        var map = L.map('mapid', {zoomControl: false}).setView([41.8781, -87.6298], 13);


        // load a tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([41.8781, -87.6298]).addTo(map)
            .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
            .openPopup();

          var zoomHome = L.Control.zoomHome();
          zoomHome.addTo(map);
        </script>
      </div>

      <div class="col-md-1">
      </div>

    </div>
    {% include "ucloud/sideright.html" %}
  </div>

  {% include "ucloud/footer.html" %}
{% endblock %}
