{% extends "ucloud/footer.html" %}
{% block navfooter %}
      <div class="col-2 floatBox bg-inverse2 hoveringBtn footerWidthLeft2">
        <button class="footerFix footerBtn btnMargTop" data-toggle="settings"><a class="btn btn-default btn-sm iconColor" href="#"><i class="fal fa-cog fa-2x"></i></a></button>
        <button class="footerFix footerBtn btnMargTop" data-toggle="exit"><a class="btn btn-default btn-sm iconColor " href="#"><i class="fal fa-bookmark fa-2x"></i></a></button>

        <div class="btn-group dropup">
          <button type="button" class="btn footerFix footerBtn dropdown-toggle btnMargTop profFix" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a class="btn btn-default btn-sm iconColor" href="#"><i><img class="profile" src="../../static/dist/images/profpic.jpg"alt=""></i></a>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu tabMenu2 dropupMarg">
            <a class="dropdown-item iconColor hoveringBtn2" href="#"><center><i class="fal fa-user fa-2x"></i></center></a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#"><center><i class="fal fa-comment fa-2x"></i></center></a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#"><center><i class="fal fa-lock fa-2x"></i></center></a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#"><center><i class="fal fa-sign-out fa-2x"></i></center></a>
          </div>
        </div>
      </div>

      <div class="col-1 leftControl">

        <div class="row text-center noPad noMarg">
          <div class="col-4 noPad noMarg">
          </div>
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-top colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-cloud"></i></center></a>
          </div>
          <div class="col-4 noPad noMarg">
          </div>
        </div>

        <div class="row text-center noPad noMarg">
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-left colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-arrow-circle-left"></i></center></a>
          </div>
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-0 colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-star"></i></center></a>
          </div>
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-right colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-arrow-circle-right"></i></center></a>
          </div>
        </div>

        <div class="row text-center noPad noMarg">
          <div class="col-4 noPad noMarg">
          </div>
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-bottom colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-times"></i></center></a>
          </div>
          <div class="col-4 noPad noMarg">
          </div>
        </div>

      </div>

      <div class="col-3 footerWidthCenter2">
      </div>

      <div class="col-2 text-center linkFix floatBox bg-inverse2 hoveringBtn">
        <form class="form-inline fixLocation2">
          <div class="input-group correctExplore">
            <input type="text" class="form-control transparent iconColor inputFocused" placeholder="Discover" aria-describedby="basic-addon1">
            <span class="input-group-addon transparent iconColor" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
        </form>
      </div>

      <div class="col-3 footerWidthCenter3">
      </div>

      <div class="col-1 rightControl">
        <div class="row text-center noPad noMarg">
          <div class="col-4 noPad noMarg">
          </div>
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-top colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-chevron-up"></i></center></a>
          </div>
          <div class="col-4 noPad noMarg">
          </div>
        </div>

        <div class="row text-center noPad noMarg">
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-left colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-chevron-left"></i></center></a>
          </div>
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-0 colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-sync"></i></center></a>
          </div>
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-right colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-chevron-right"></i></center></a>
          </div>
        </div>

        <div class="row text-center noPad noMarg">
          <div class="col-4 noPad noMarg">
          </div>
          <div class="col-4 noPad noMarg">
            <a class="controlsBoth rounded-bottom colorScheme iconColor px-1 py-1 hoveringBtn" id="basic-addon1" href="#"><center><i class="fal fa-chevron-down"></i></center></a>
          </div>
          <div class="col-4 noPad noMarg">
          </div>
        </div>
      </div>

      <div class="col-2 floatBox bg-inverse2 hoveringBtn footerWidthRight3">
        <button class="footerFix footerBtn btnMargTop floatRight" data-toggle="profile"><a class="btn btn-default btn-sm iconColor" href="#"><i class="fal fa-street-view fa-2x"></i></a></button>
        <button class="footerFix footerBtn btnMargTop floatRight" data-toggle="exit"><a class="btn btn-default btn-sm iconColor" href="#"><i class="fal fa-globe fa-2x"></i></a></button>
        <div class="btn-group dropup floatRight btnPad2">
          <button type="button" class="btn footerFix footerBtn dropdown-toggle btnMargTop noPad" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a class="btn btn-default btn-sm iconColor" href="#"><i class="fal fa-map-marker-alt fa-2x"></i></a></button>
          <div class="dropdown-menu tabMenu2 dropupMarg2">
            <a class="dropdown-item iconColor hoveringBtn2" href="#" data-toggle="settings"><center><i class="fal fa-play fa-2x"></i></center></a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#" data-toggle="settings"><center><i class="fal fa-shopping-bag fa-2x"></i></center></a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#" data-toggle="settings"><center><i class="fal fa-newspaper fa-2x"></i></center></a>
            <a class="dropdown-item iconColor hoveringBtn2" href="#" data-toggle="settings"><center><i class="fal fa-book fa-2x"></i></center></a>
          </div>
        </div>


      </div>
{% endblock %}
