{% extends "ucloud/sideright.html" %}
{% block navsideright %}
      <a href="#" class="list-group-item headCategory text-center block">Bookmarks</a>
      <a href="../journey" class="list-group-item sideTopics itemText text-right block"><span>Play</span><i class="fa fa-play fa-fw margLeft10" aria-hidden="true"></i></a>
      <a href="../finance" class="list-group-item sideTopics itemText text-right block"><span>Shop</span><i class="fa fa-shopping-bag fa-fw margLeft10" aria-hidden="true"></i></a>
      <a href="../health" class="list-group-item sideTopics itemText text-right block"><span>Live</span><i class="fa fa-newspaper fa-fw margLeft10" aria-hidden="true"></i></a>
      <a href="../education" class="list-group-item sideTopics itemText text-right block"><span>Learn</span><i class="fa fa-book fa-fw margLeft10" aria-hidden="true"></i></a>
{% endblock %}
