{% extends "ucloud/nav-tabs.html" %}
{% block navtab %}
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link specialTabs active tabColorActive" href="#">Illinois</a>
          </li>
          <li class="nav-item dropdown navSpace">
            <a class="nav-link specialTabs dropdown-toggle hoveringBtn tabColor tabDropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">California</a>
              <div class="dropdown-menu tabMenu3">
                <a class="dropdown-item tabColor tabColor2" href="#"><center><i class="fal fa-play fa-2x"></i></center></a>
                <a class="dropdown-item tabColor tabColor2" href="#"><center><i class="fal fa-shopping-bag fa-2x"></i></center></a>
                <a class="dropdown-item tabColor tabColor2" href="#"><center><i class="fal fa-newspaper fa-2x"></i></center></a>
                <a class="dropdown-item tabColor tabColor2" href="#"><center><i class="fal fa-book fa-2x"></i></center></a>
                <div class="dropdown-divider tabDivider"></div>
                <a class="dropdown-item tabColor tabColor2" href="#"><center><i class="fal fa-bookmark fa-2x"></i></center></a>
              </div>
          </li>
        </ul>
{% endblock %}
