{% extends "base.html" %}
{% load hosts %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load leaflet_tags %}

{% block head_title %}
uCloud
{% endblock %}

{% block head_css %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
 integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
 crossorigin=""></script>
<script src="https://use.fontawesome.com/7a4ad4218b.js"></script>
<link rel="stylesheet" href="../../static/dist/css/ucloud.css">
<link rel="stylesheet" href="../../static/dist/css/offcanvas.css">
<link rel="stylesheet" href="../static/css/finance.css">
<script src="../../static/dist/js/offcanvas.js"></script>
<script src="../../static/dist/js/ucloud.js"></script>
<script src="../static/js/finance.js"></script>
<link rel="stylesheet" href="../../static/dist/css/leaflet.zoomhome.css"/>
<script src="../../static/dist/js/leaflet.zoomhome.js"></script>
{% endblock %}



{% block content %}

<body><img class="cino financeBanner"></img></body>

<div class="financeView layer4">

  <div class="cino">
    <div id="carouselExampleIndicators" class="carousel slide h100" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner cino d-block">
          <div class="carousel-item active cino item">
            <div class="cino">
              <img class="financeBanner2 cino d-block"></img>
              <div class="finTitleContainer d-block">
                <div class="financeTitle">
                  Guidance
                </div>
              </div>

              <div class="finMessageContainer w100 container-fluid d-block">
                <div class="row">
                  <div class="col-md-5">
                    <div class="financeMessageLeft">
                      Powered by the Universe
                    </div>
                  </div>

                  <div class="col-md-4">
                  </div>

                  <div class="col-md-3">
                    <div class="financeMessageRight">
                      <button type="button" class="btn btn-secondary">Start Now</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item cino item">
            <img class="d-block w-100" src="..." alt="Second slide">
          </div>
          <div class="carousel-item cino item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev w05" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w05" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>

</div>

  {% include "finTabs.html" %}
  {% include "finExplore.html" %}

  <div class="container-fluid layer3">
    <div class="topSpace"></div>
    <div class="row">
    {% include "ucloud/sideleft.html" %}
      <div class="col-md-1">
      </div>

      <div class="col-md-10">
      </div>

      <div class="col-md-1">
      </div>

    </div>
    {% include "finSideRight.html" %}
  </div>

  {% include "finFooter.html" %}
{% endblock %}
