{% extends "ucloud/sideright.html" %}
{% block navsideright %}
      <a href="#" class="list-group-item headCategory text-center block">Direction</a>
      <a href="../journey" class="list-group-item sideTopics itemText text-right block"><span>Design</span><i class="fa fa-pencil fa-fw margLeft10" aria-hidden="true"></i></a>
      <a href="../finance" class="list-group-item sideTopics itemText text-right block"><span>Plan</span><i class="fa fa-map fa-fw margLeft10" aria-hidden="true"></i></a>
      <a href="../education" class="list-group-item sideTopics itemText text-right block"><span>Track</span><i class="fa fa-clipboard fa-fw margLeft10" aria-hidden="true"></i></a>
      <a href="../health" class="list-group-item sideTopics itemText text-right block"><span>Vision</span><i class="fa fa-lightbulb fa-fw margLeft10" aria-hidden="true"></i></a>
{% endblock %}
