html {
  height:100%;
  width:100%;
}

body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  height: 100%;
  background-image: url("../images/ny.7f723a9e73d2.jpg");
  overflow:hidden;
  background-size: cover;
}

.full {
  height:100%;
  width:100%;
  min-height:600px;
  min-width:1000px;
}

.noPad {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.noMargin {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.float {
  float:left;
}

.naviBar {
  background-color:rgba(33,33,33,.8);
  height:7%;
  min-height:30px;
  width:93%;
  min-width:930px;
  border-radius: 0px 0px 0px 0px;
}

.citiBar {
  height:5%;
  min-height:30px;
  width:93%;
  min-width:930px;
  border-radius: 0px 0px 0px 0px;
}

.noRadius {
  border-radius: 0px 0px 0px 0px;
}

.navLeft {
  color:#FFF;
  text-align:left;
  margin: 0px;
  font-size:15px;
  text-shadow: 0 5px 10px rgba(0,0,0,.9);
  font-weight:bold;
}

.navLogo {
  color:#FFF;
  text-align:center;
  margin: 0px;
  font-size:15px;
  text-shadow: 0 5px 10px rgba(0,0,0,.9);
  font-weight:bold;
}

.logo {
  max-height:100%;
  max-width:100%;
  display:block;
  margin:auto;
  cursor:pointer;
}

.explore {
  max-height:100%;
  max-width:100%;
  display:block;
  margin:auto;
  padding-top:5px;
  cursor:pointer;
}

.exploreCategories {
  color:#222;
  text-align:center;
  margin: 0px;
  font-size:15px;
  text-shadow: 0 5px 10px rgba(0,0,0,.9);
  font-weight:bold;
}

.navRight {
  color:#FFF;
  text-align:right;
  margin: 0px;
  font-size:15px;
  text-shadow: 0 5px 10px rgba(0,0,0,.9);
  font-weight:bold;
}

.centerText {
  margin: 1% 0%;
  padding-top:5px;
}

.sideColumn {
  height:100%;
  min-height:600px;
  width:7%;
  min-width:70px;
  opacity: 0.8;
}

.profPic {
  height: 15%;
  min-height: 90px;
  width:100%;
  min-width:70px;
  color:#FFF;
}

.pixholder {
  max-height:100%;
  max-width:100%;
  display:block;
  margin:auto;
  border-radius:50%;
  position: relative;
  z-index: 1;
}

.pix {
  position: relative;
  padding-top:10%;
  padding-bottom:10%;
  padding-right:11%;
  padding-left:11%;
  max-height:100%;
  max-width:100%;
  display:block;
  margin:auto;
  border-radius:50%;
}

.appsColumn {
  height: 70%;
  min-height: 420px;
  width:100%;
  min-width:70px;
  color:#FFF;
}

.optionsColumn {
  height: 7.5%;
  min-height: 45px;
  width:100%;
  min-width:70px;
  color:#FFF;
}

.black {
  background-color:#222;
}

.appsholder {
  float:left;
  height:25%;
  width:100%;
}

.apps {
  max-height:100%;
  max-width:100%;
  display:block;
  margin:auto;
  padding:5%;
  cursor:pointer;
}

.white {
  background-color:white;
}

.grey {
  background-color:#aaa;
}

.exploreBar {
  background-image:none;
  background-color:transparent;
  border:0px;
}
