{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block head_title %}
Lifecloud
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="../static/css/finance.css">
<link rel="stylesheet" href="../static/dist/css/main.css">
{% endblock %}

{% block content %}
<div class="container-fluid full noPad noMargin">
  <div class="noPad sideColumn float noMargin">
    {% include "lifecloud/sidebar.html" %}
  </div>
  <div class="noPad naviBar float noMargin centerDiv">
    {% include "lifecloud/nav.html" %}
  </div>
  <div class="noPad citiBar float noMargin centerDiv">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 centerText">
      <h3 class="finLeft">Reports</h3>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-1 centerText grey">
      <h3 class="finCenter">Track</h3>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2 centerText">
      <h3 class="finRight">Plan</h3>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="finBar float centerDiv">
  </div>
  <div class="noPad citiBar float noMargin centerDiv">
    <div class="col-md-1 centerText">
      <h3 class="finCenter">+</h3>
    </div>
    <div class="col-md-1 centerText">
      <h3 class="finLeft"><</h3>
    </div>
    <div class="col-md-7 centerText">
      <h3 class="finCenter">Home</h3>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1 centerText">
      <h3 class="finRight">></h3>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="noPad citiBar float noMargin centerDiv">
    <div class="col-md-4">
    </div>
    <div class="col-md-1 centerText">
      <h3 class="finRight">Jan</h3>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1 centerText">
      <h3 class="finLeft">2016</h3>
    </div>
    <div class="col-md-5">
    </div>
  </div>
  <div class="finBar2 float centerDiv">
  </div>
  <div class="noPad citiBar float noMargin centerDiv">
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
      <h4 class="finRight">Month</h4>
    </div>
    <div class="col-md-1">
      <h4 class="finCenter">Today</h4>
    </div>
    <div class="col-md-1">
      <h4 class="finLeft">Deposit</h4>
    </div>
    <div class="col-md-5">
    </div>
  </div>
  <div class="noPad citiBar float noMargin centerDiv">
    <div class="col-md-1">
    </div>
    <div class="noPad noMargin col-md-4 borderWhite grey">
      <div class="noPad noMargin col-md-12 borderWhite">
        <h4 class="finLeft">Finances</h4>
      </div>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
    </div>
    <div class="col-md-1">
    </div>
    <div class="noPad noMargin col-md-4 borderWhite grey">
      <div class="noPad noMargin col-md-12 borderWhite">
        <h4 class="finLeft">Assets</h4>
      </div>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
      <h4 class="finLeft">Finances</h4>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
{% endblock %}
