{% block sidebar %}
  <div class="noPad profPic black">
    <img class="pix" src="../../static/dist/images/profpic.jpg" />
  </div>
  <div class="noPad appsColumn white">
    <div class="appsholder">
      <a href="../finance"><img class="apps" src="../../static/dist/images/appfinance.png" /></a>
    </div>
    <div class="appsholder">
      <a href="../education"><img class="apps" src="../../static/dist/images/appeducation2.png" /></a>
    </div>
    <div class="appsholder">
      <a href="../health"><img class="apps" src="../../static/dist/images/apphealth2.png" /></a>
    </div>
    <div class="appsholder">
      <a href="../schedule"><img class="apps" src="../../static/dist/images/appschedule.png" /></a>
    </div>
  </div>
  <div class="noPad optionsColumn grey">
    <img class="logo" src="../../static/dist/images/settings.png" />
  </div>
  <div class="noPad optionsColumn black">
    <img class="logo" src="../../static/dist/images/exit.png" />
  </div>
{% endblock %}
