{% extends "base.html" %}
{% load hosts %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block head_title %}
uCloud
{% endblock %}

{% block head_css %}
<script src="https://use.fontawesome.com/7a4ad4218b.js"></script>
<link rel="stylesheet" href="../../static/dist/css/ucloud.css">
<link rel="stylesheet" href="../../static/dist/css/offcanvas.css">
<link rel="stylesheet" href="../static/css/journey.css">
<script src="../../static/dist/js/offcanvas.js"></script>
<script src="../../static/dist/js/ucloud.js"></script>
<script src="../static/js/journey.js"></script>
{% endblock %}



{% block content %}
<body><img class="cino otherBanner journeyBanner"></img></body>

<div class="bookView layer4 dead">
  <div class="container-fluid leftSide noPad left">
    <div class="row noMarg cino">
      <div class="col-12 worldTitle">
        <div class="currentPath hoveringBtn iconColor">
          <div class="dropdown">
            <h2 class="wactTitle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><center>COOODE</center></h2>
          </div>
        </div>
      </div>
      <div class="col-12 realglobe">
      </div>
      <div class="col-12 realTopics">
        <div class="subTopics topTopic hoveringBtn iconColor">
          <i class="fal fa-play fa-2x fixLocation2 left"></i><h4 class="rightBumper">GO</h4>
        </div>
        <div class="subTopics hoveringBtn iconColor">
          <i class="fal fa-shopping-bag fa-2x fixLocation2 left"></i><h4 class="rightBumper">OUT</h4>
        </div>
        <div class="subTopics hoveringBtn iconColor">
          <i class="fal fa-newspaper fa-2x fixLocation2 left"></i><h4 class="rightBumper">SIDE</h4>
        </div>
        <div class="subTopics bottomTopic hoveringBtn iconColor">
          <i class="fal fa-book fa-2x fixLocation2 left"></i><h4 class="rightBumper">MF</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid centerSide pad20 left">
    <div class="row noMarg cino centerFeed round20">
      <div class="col-12 worldTitle topFeed">
        <div class="currentTopic iconColorActive">
          <h2 class="wactTitle"><center>Live</center></h2>
        </div>
      </div>
      <div class="col-12 realglobe">
      </div>
      <div class="col-12 realTopics bottomFeed">
      </div>
    </div>
  </div>

  <div class="container-fluid rightSide noPad left">
    <div class="row noMarg cino">
      <div class="col-12 topicTime">
        <div class="currentPath hoveringBtn iconColor">
          <h2 class="wactTitle"><center>WTF</center></h2>
        </div>
      </div>
      <div class="col-12 topicBumper">
      </div>
      <div class="col-12 topicTime">
        <div class="currentPath hoveringBtn iconColor">
          <h2 class="wactTitle"><center>IS HAPPENING</center></h2>
        </div>
      </div>
      <div class="col-12 topicBumper">
      </div>
    </div>
  </div>
</div>

<div class="worldView layer4 dead">
  <div class="container-fluid leftSide noPad left">
    <div class="row noMarg cino">
      <div class="col-12 worldTitle">
        <div class="currentPath hoveringBtn iconColor">
          <div class="dropdown">
            <h2 class="wactTitle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><center>World</center></h2>
          </div>
        </div>
      </div>
      <div class="col-12 realglobe">
      </div>
      <div class="col-12 realTopics">
        <div class="subTopics topTopic hoveringBtn iconColor">
          <i class="fal fa-play fa-2x fixLocation2 left"></i><h4 class="rightBumper">Play</h4>
        </div>
        <div class="subTopics hoveringBtn iconColor">
          <i class="fal fa-shopping-bag fa-2x fixLocation2 left"></i><h4 class="rightBumper">Shop</h4>
        </div>
        <div class="subTopics hoveringBtn iconColor">
          <i class="fal fa-newspaper fa-2x fixLocation2 left"></i><h4 class="rightBumper">Live</h4>
        </div>
        <div class="subTopics bottomTopic hoveringBtn iconColor">
          <i class="fal fa-book fa-2x fixLocation2 left"></i><h4 class="rightBumper">Learn</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid centerSide pad20 left">
    <div class="row noMarg cino centerFeed round20">
      <div class="col-12 worldTitle topFeed">
        <div class="currentTopic iconColorActive">
          <h2 class="wactTitle"><center>Live</center></h2>
        </div>
      </div>
      <div class="col-12 realglobe">
      </div>
      <div class="col-12 realTopics bottomFeed">
      </div>
    </div>
  </div>

  <div class="container-fluid rightSide noPad left">
    <div class="row noMarg cino">
      <div class="col-12 topicTime">
        <div class="currentPath hoveringBtn iconColor">
          <h2 class="wactTitle"><center>Upcoming</center></h2>
        </div>
      </div>
      <div class="col-12 topicBumper">
      </div>
      <div class="col-12 topicTime">
        <div class="currentPath hoveringBtn iconColor">
          <h2 class="wactTitle"><center>Established</center></h2>
        </div>
      </div>
      <div class="col-12 topicBumper">
      </div>
    </div>
  </div>
</div>

<div class="otherView journeyView layer5">

  <div class="cino">
    <div id="carouselExampleIndicators" class="carousel slide h100" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> -->
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> -->
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="5"></li> -->
        </ol>
        <div class="carousel-inner cino d-block">
          <div class="carousel-item active cino item">
            <div class="cino">
              <img class="otherBanner2 financeBanner2 cino d-block"></img>
              <div class="otherTitleContainer d-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="otherTitle">
                      <h1>Journey</h1>
                    </div>
                  </div>
                </div>
              </div>

              <div class="otherMessageContainer w100 container-fluid d-block">
                <div class="row">
                  <div class="col-md-5">
                    <div class="otherSubTitle">
                      <h2>with the uCloud</h2>
                    </div>
                  </div>

                  <div class="col-md-4">
                  </div>

                  <div class="col-md-3">
                    <div class="otherMessageRight">
                      <button type="button" class="btn btn-secondary">Start Now</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item cino item">
            <div class="cino">
              <img class="otherBanner2 financeBanner2 cino d-block"></img>
              <div class="otherTitleContainer d-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="financeTitle">
                      <h1>Design</h1>
                    </div>
                  </div>
                </div>
              </div>

              <div class="otherDesignContainer container-fluid d-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="financeTitle text-center">
                      <h3>Group Details</h3>
                      <br />
                    </div>
                  </div>
                  <div class="col-lg-4 pb-3">
                    <div class="input-group">
                      <span class="input-group-addon radioSelectMe">
                        <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="oneoption">
                      </span>
                      <input class="form-control transparent inputFocused2 radioSelect famSelect" placeholder="Family" aria-label="Family" aria-describedby="basic-addon1" readonly="readonly">
                    </div>
                  </div>
                  <div class="col-lg-4 pb-3">
                    <div class="input-group">
                      <span class="input-group-addon radioSelectMe">
                        <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="oneoption">
                      </span>
                      <input class="form-control transparent inputFocused2 radioSelect bizSelect" placeholder="Business" aria-label="Business" aria-describedby="basic-addon1" readonly="readonly">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item firmSelect" href="#">Firm</a>
                          <a class="dropdown-item employeeSelect" href="#">Employee</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 pb-3">
                    <div class="input-group">
                      <span class="input-group-addon radioSelectMe">
                        <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="oneoption">
                      </span>
                      <input class="form-control transparent inputFocused2 radioSelect orgSelect" placeholder="Organization" aria-label="Organization" aria-describedby="basic-addon1" readonly="readonly">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item groupSelect" href="#">Group</a>
                          <a class="dropdown-item memberSelect" href="#">Member</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="otherDesignRelatedContainer container-fluid d-block otherDesignSidePad">
                <div class="row">
                  <div class="col-md-12 pb-2">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><i class="fal fa-at" aria-hidden="true"></i></span>
                      <input type="text" class="form-control transparent iconColor inputFocused" placeholder="Join an existing group" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="finDesignGroupContainer1 col-md-12">
                    <form class="form-signin storyForm" role="form" method="POST">
                      {% csrf_token %}
                      {{ storyform.as_p }}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item cino item">
            <div class="cino">
              <img class="otherBanner2 financeBanner2 cino d-block"></img>
              <div class="otherTitleContainer d-block">
                <div class="row">

                  <div class="col-md-12">
                    <div class="otherTitle">
                      <h1>Design</h1>
                    </div>
                  </div>
                </div>
              </div>

              <div class="otherDesignContainer container-fluid d-block">
                <div class="row">

                  <div class="col-md-12">
                    <div class="otherTitle text-center">
                      <h3 class="detailTitle"></h3>
                      <br />
                    </div>
                  </div>

                  <div class="finDesignDetailsContainer1 col-md-12">
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect breakSelect" placeholder="Break" aria-label="Break" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect studentSelect" placeholder="Student" aria-label="Student" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect partSelect" placeholder="Part Time" aria-label="Part Time" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect fullSelect" placeholder="Full Time" aria-label="Full Time" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                  </div>
                  <div class="finDesignDetailsContainer2 col-md-12">
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect breakSelect" placeholder="Testing" aria-label="Break" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect studentSelect" placeholder="First Step" aria-label="Student" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect partSelect" placeholder="Experienced" aria-label="Part Time" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect fullSelect" placeholder="Profession" aria-label="Full Time" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                  </div>
                  <div class="finDesignDetailsContainer2a col-md-12">
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect breakSelect" placeholder="Intern" aria-label="Break" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect studentSelect" placeholder="New Hire" aria-label="Student" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect partSelect" placeholder="Experienced" aria-label="Part Time" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-lg-3 left">
                      <div class="input-group">
                        <span class="input-group-addon radioSelectMe">
                          <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                        </span>
                        <input class="form-control transparent inputFocused2 radioSelect fullSelect" placeholder="Professional" aria-label="Full Time" aria-describedby="basic-addon1" readonly="readonly">
                      </div>
                    </div>
                  </div>
                  <div class="finDesignDetailsContainer3 col-md-12">
                      <div class="col-lg-3 left">
                        <div class="input-group">
                          <span class="input-group-addon radioSelectMe">
                            <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                          </span>
                          <input class="form-control transparent inputFocused2 radioSelect breakSelect" placeholder="Envisioning" aria-label="Break" aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                      </div>
                      <div class="col-lg-3 left">
                        <div class="input-group">
                          <span class="input-group-addon radioSelectMe">
                            <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                          </span>
                          <input class="form-control transparent inputFocused2 radioSelect studentSelect" placeholder="New Organization" aria-label="Student" aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                      </div>
                      <div class="col-lg-3 left">
                        <div class="input-group">
                          <span class="input-group-addon radioSelectMe">
                            <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                          </span>
                          <input class="form-control transparent inputFocused2 radioSelect partSelect" placeholder="Established" aria-label="Part Time" aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                      </div>
                      <div class="col-lg-3 left">
                        <div class="input-group">
                          <span class="input-group-addon radioSelectMe">
                            <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                          </span>
                          <input class="form-control transparent inputFocused2 radioSelect fullSelect" placeholder="Society" aria-label="Full Time" aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                      </div>
                  </div>
                  <div class="finDesignDetailsContainer3a col-md-12">
                      <div class="col-lg-3 left">
                        <div class="input-group">
                          <span class="input-group-addon radioSelectMe">
                            <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                          </span>
                          <input class="form-control transparent inputFocused2 radioSelect breakSelect" placeholder="Attendee" aria-label="Break" aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                      </div>
                      <div class="col-lg-3 left">
                        <div class="input-group">
                          <span class="input-group-addon radioSelectMe">
                            <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                          </span>
                          <input class="form-control transparent inputFocused2 radioSelect studentSelect" placeholder="Member" aria-label="Student" aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                      </div>
                      <div class="col-lg-3 left">
                        <div class="input-group">
                          <span class="input-group-addon radioSelectMe">
                            <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                          </span>
                          <input class="form-control transparent inputFocused2 radioSelect partSelect" placeholder="Chair Member" aria-label="Part Time" aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                      </div>
                      <div class="col-lg-3 left">
                        <div class="input-group">
                          <span class="input-group-addon radioSelectMe">
                            <input class="toggleRadio" type="radio" aria-label="Radio button for following text input" name="secondoption">
                          </span>
                          <input class="form-control transparent inputFocused2 radioSelect fullSelect" placeholder="Board Member" aria-label="Full Time" aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev w05" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w05" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>

</div>

{% include "jourTabs.html" %}
{% include "jourExplore.html" %}

<div class="container-fluid layer3">
  <div class="topSpace"></div>
  <div class="row">
  {% include "ucloud/sideleft.html" %}
    <div class="col-md-1">
    </div>

    <div class="col-md-10">
    </div>

    <div class="col-md-1">
    </div>

  </div>
  {% include "jourSideRight.html" %}
</div>

{% include "jourFooter.html" %}
{% endblock %}
