body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  height: 100%;
  background-color: #FFF;
}

.welcomeTabs {
  background-color: #FFF;
}

.top {
  padding-top: 100px;
}

.noSidePad {
  padding-left: 0px;
  padding-right: 0px;
}

.noPad {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.bdrop {
  background-image: url("../images/beach-03.jpg");
}

.blank {
  background-color: transparent;
}

.leftTab {
  cursor: pointer;
  margin-left: 120px;
}

.middleTab {
  cursor: pointer;
}

.currentTab {
  background-color: #eee;
}

.rightTab {
  cursor: pointer;
  margin-right: 120px;
}

.welcomeForms {
  background-color: #eee;
}

.inactivateForm {
  display: none;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
