{% block navbar %}
<div class="floatNav">
  <nav class="navbar navbar-inverse bg-inverse">
    <div class="container">

      <div class="row justify-content-start">

        <div class="col-5">
          <div class="btn-group">
            <button class="navbar-text iconColor dropdown-toggle exploreBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chicago, IL</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">New York, NY</a>
              <a class="dropdown-item" href="#">Los Angeles, CA</a>
              <a class="dropdown-item" href="#">Houston, TX</a>
              <div class="dropdown-divider"></div>
              <form class="form-inline">
                <div class="input-group correctExplore">
                  <input type="text" class="form-control" placeholder="Explore" aria-describedby="basic-addon1">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-2">
          <button class="navbar-toggler explore" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
              <span class="exploreIcon iconColor"><i class="fa fa-bars fa-1x exploreFix" aria-hidden="true"></i></span>
          </button>
        </div>


        <div class="col-5 text-right">
          <div class="btn-group">
            <button class="navbar-text iconColor exploreBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">New York, NY</a>
              <a class="dropdown-item" href="#">Los Angeles, CA</a>
              <a class="dropdown-item" href="#">Houston, TX</a>
              <div class="dropdown-divider"></div>
              <form class="form-inline">
                <div class="input-group correctExplore">
                  <input type="text" class="form-control" placeholder="Explore" aria-describedby="basic-addon1">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link iconColor" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link iconColor" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link iconColor" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{% endblock %}
