{% block navbar %}
<div class="floatNav">
  <nav class="navbar navbar-inverse bg-inverse">
    <div class="container">

      <div class="row justify-content-start">

        <div class="col-5">
          <div class="btn-group text-right">
            <button class="navbar-text iconColor dropdown-toggle exploreBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chicago, IL</button>
            <div class="dropdown-menu">
              <form class="form-inline">
                <div class="input-group correctExplore">
                  <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                </div>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Overview</a>
              <a class="dropdown-item" href="#">Economy</a>
              <a class="dropdown-item" href="#">Government</a>
              <a class="dropdown-item" href="#">Politics</a>
              <a class="dropdown-item" href="#">Organizations</a>
              <a class="dropdown-item" href="#">Civic Engagement</a>

            </div>
          </div>
        </div>

        <div class="col-2">
          <button class="navbar-toggler explore exploreRightBtn" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
              <span class="exploreIcon iconColor"><i class="fa fa-bars fa-1x exploreFix" aria-hidden="true"></i></span>
          </button>
        </div>


        <div class="col-5 text-right">
          <div class="btn-group">
            <button class="navbar-text iconColor exploreBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></button>
            <div class="dropdown-menu dropdown-menu-right text-right">
              <form class="form-inline">
                <div class="input-group correctExplore">
                  <input type="text" class="form-control" placeholder="Explore" aria-describedby="basic-addon1">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                </div>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">New York, NY</a>
              <a class="dropdown-item" href="#">Los Angeles, CA</a>
              <a class="dropdown-item" href="#">Houston, TX</a>
            </div>
          </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-8">
          <div class="navbar-collapse collapse exploreRightBtn2" id="collapsingNavbar">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link iconColor" href="#">Music</a>
              </li>
              <li class="nav-item">
                <a class="nav-link iconColor" href="#">Sports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link iconColor" href="#">Art</a>
              </li>
              <li class="nav-item">
                <a class="nav-link iconColor" href="#">Fun</a>
              </li>
              <li class="nav-item">
                <a class="nav-link iconColor" href="#">Tech</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2 text-right exploreRight">
          <span class="input-group-addon addNew" id="basic-addon1"><i class="fa fa-plus" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </nav>
</div>
{% endblock %}
