{% block navbar %}
<nav class="navbar floatFoot fixed-bottom navbar-inverse bg-inverse">
  <div class="row justify-content-start">

    <div class="col-1">
      <button class="exploreBtn footerFix" data-toggle="exit"><a class="btn btn-default btn-sm iconColor " href="#"><i class="fa fa-angle-double-left fa-2x"></i></a></button>
    </div>

    <div class="col-1">
      <button class="exploreBtn footerFix" data-toggle="settings"><a class="btn btn-default btn-sm iconColor" href="#"><i class="fa fa-cog fa-2x"></i></a></button>
    </div>

    <div class="col-8 text-center">
      <span class="navbar-text iconColor">@mfmoncayo</span>
    </div>

    <div class="col-1">
      <button class="exploreBtn footerFix" data-toggle="profile"><img class="profile" src="../../static/dist/images/profpic.jpg"alt=""></button>
    </div>
    <div class="col-1">
    </div>

  </div>
</nav>
{% endblock %}
