{% block navbar %}
        <div class="col-md-4 centerText">
          <p class="navLeft">Fri, Jan 20th</p>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <a href="../dashboard"><img class="logo" src="../../static/dist/images/logo.jpg" /></a>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-2 centerText">
          <p class="navRight"> 42 cloudy</p>
        </div><!--/.navbar-collapse -->
{% endblock %}
