{% block navbar %}
<nav class="navbar fixed-top navbar-inverse bg-inverse">

  <div class="row justify-content-start">

    <div class="col-5">
      <span class="navbar-text iconColor">Fri, Jan 20</span>
    </div>

    <div class="col-2">
      <a href="../dashboard"><img class="logo" src="../../static/dist/images/logo.png"alt=""></a>
    </div>

    <div class="col-5 text-right">
      <span class="navbar-text iconColor">42 <i class="fa fa-cloud fa-fw" aria-hidden="true"></i></span>
    </div>

  </div>
</nav>
{% endblock %}
