{% block sidebar %}
  <div class="noPad profPic black">
    <img class="pixholder" src="../../static/dist/images/picholder.jpg" />
    <img class="pix" src="../../static/dist/images/profpic.jpg" />
  </div>
  <div class="noPad appsColumn white">
    <div class="appsholder">
      <img class="apps" src="../../static/dist/images/appfinance.jpg" />
    </div>
    <div class="appsholder">
      <img class="apps" src="../../static/dist/images/appeducation.jpg" />
    </div>
    <div class="appsholder">
      <img class="apps" src="../../static/dist/images/apphealth.jpg" />
    </div>
    <div class="appsholder">
      <img class="apps" src="../../static/dist/images/apppath.jpg" />
    </div>
  </div>
  <div class="noPad optionsColumn grey">
    <img class="logo" src="../../static/dist/images/settings.jpg" />
  </div>
  <div class="noPad optionsColumn black">
    <img class="logo" src="../../static/dist/images/exit.jpg" />
  </div>
{% endblock %}
