{% block navbar %}
<div class="row-offcanvas row-offcanvas-right">
  <div class="col-xs-6 col-sm-2 sidebar-offcanvas preR text-center" id="sidebarRight" role="navigation">
    <div class="list-group">
      <a href="#" class="list-group-item sideTopic headCategory">Apps</a>
      <a href="../dashboard" class="list-group-item itemText"><i class="fa fa-home fa-fw" aria-hidden="true"></i><span>Dashboard</span></a>
      <a href="../schedule" class="list-group-item itemText"><i class="fa fa-hourglass fa-fw" aria-hidden="true"></i><span>Schedule</span></a>
      <a href="../finance" class="list-group-item itemText"><i class="fa fa-university fa-fw" aria-hidden="true"></i><span>Finance</span></a>
      <a href="../education" class="list-group-item itemText"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i><span>Education</span></a>
      <a href="../health" class="list-group-item itemText"><i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i><span>Health</span></a>
    </div>
  </div>
</div>
{% endblock %}
